.pending-homepage {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(93, 253, 203, .33);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;

}

.homepage-block {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: hsl(206, 98%, 20%);
  margin: 12px 42px;
  padding: 15px;
  color: #F4FAFF;
}

.pending-details {
  font-weight: 900;
}
